body {
    background-image: url("https://zatsukomu.tk/assets/img/Large-Triangles/24.svg");
    background-attachment: scroll; 
    background-size: auto; 
    background-repeat: repeat; 
    background-position: center;
}
.parent-404 {
    color: #fff; 
  position: relative;
}

.span-404 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 80vw;
  text-align: center; !important
}
