body {
    background-image: url("https://zatsukomu.tk/assets/img/Large-Triangles/24.svg");
    background-attachment: scroll; 
    background-size: auto; 
    background-repeat: repeat; 
    background-position: center;
}
.parent-404 {
    color: #fff; 
  width: 100%;
  hight: 100%;
}

.span-404 {
  text-align: center; !important
}
