body {
    color: #fff; 
    text-align: center; 
    background-image: url("https://zatsukomu.tk/assets/img/Large-Triangles/24.svg");
    background-attachment: scroll; 
    background-size: auto; 
    background-repeat: repeat; 
    background-position: center;
}
