.discord.blue {
background-color: #7289DA
}

.discord.white {
background-color: #FFFFFF
}

.discord.grey {
background-color: #99AAB5
}

.discord.dark {
background-color: #2C2F33
}

.discord.black {
background-color: #23272A
}
