.discord.blue {
background-color: #7289DA !important
}

.discord.white {
background-color: #FFFFFF !important
}

.discord.grey {
background-color: #99AAB5 !important
}

.discord.dark {
background-color: #2C2F33 !important
}

.discord.black {
background-color: #23272A !important
}
