theme: jekyll-theme-cayman
title: "雑コム！"
description: "Discord サーバー"
timezone: Japan
lang : ja
url: "https://zatsukomu.tk" # the base hostname & protocol for your site
google_analytics: UA-138579216-2
discord_invite: "https://discord.gg/VWpRe9y"


collections:
  pages:
    output: true
  posts:
    output: true
defaults:
  - scope:
      path: _posts/news
      type: posts
    values:
      layout: post
      posttype: news
      posttype_url: post/news
      posttype_name: "お知らせ"
      news: true
      permalink: "/post/news/:year/:month/:day/:title/"

  - scope:
      path: "_posts/blog"
      type: "posts"
    values:
      layout: post
      posttype: blog
      posttype_url: post/blogs
      posttype_name: "記事"
      blogs: true
      permalink: "/post/blog/:year/:month/:day/:title/"

  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: default
      posttype: page
      posttype_url: /pages
      posttype_name: "ページ"
      pages: true

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-redirect-from
  - jemoji
  - jekyll-mentions

jekyll-mentions:
  base_url: https://zatsukomu.tk/user

exclude:
- Gemfile
- CNAME
- readme.md
- README.md
- /assets/img/README.md
- /assets/img/Large-Triangles/README.md
- /assets/css/README.md
- /assets/favicons/README.md
- /assets/js/README.md
- /assets/video/README.md
